@media all and (max-width: 1450px) {
    .header {
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__burger {
        height: 32px;
        display: flex;
    }

    .main-header__logo img {
        display: none;
    }

    .main-header__container {
        display: none;
    }

    .sub-header {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .main-header__logo {
        font-size: 28px;
    }

    .header__burger {
        height: 24px;
    }

    .container {
        padding-left: 40px!important;
        padding-right: 40px!important;
    }

    .article-hero {
        padding: 100px 0 30px 0;
        background-position: 60% 50%;
    }

    .article-hero__title {
        font-size: 28px;
    }

    .article-hero__author .author__image {
        width: 80px;
        height: 80px;
    }

    .article-hero__info .info-date {
        flex-direction: column;
    }

    .article-hero__info .info-date .info-date__item {
        margin: 5px 10px 5px 0;
    }

    .article-hero__info .info-stats {
        flex-wrap: wrap;
    }

    .article-hero__info .info-stats__item {
        margin: 5px 20px 5px 0;
    }

    .article-hero__info .info-tags {
        flex-wrap: wrap;
    }

    .article-hero__info .info-date .info-tags __item {
        margin: 5px 10px 5px 0;
    }

    .article-content__container  {
        flex-direction: column;
    }

    .article-content__nav {
        padding: 0 0 30px 0!important;
        order: 1;
        border: none;
    }

    .article-content__content {
        margin-right: 0;
        order: 2;
    }
}